/* Global Settings */

body {
  margin: 0;
  padding: 10%;
  font-family: sans-serif;
}

.col-left {
  display: block;
  float: left;
  position: relative;

  padding-top: 3%;
  left: -5%;
  height: 100vh;
}

.col-right{
  display: block;
  float: left;
  left: 5%;
  position: relative;
  height: 100vh;
}

ul {
  list-style-type: none;
}
